header{
	width:100%;
	height:50px;
}
.nav-bar{
	position:fixed;
	top:0;
	margin:0;
	width: 100%;
	height: 70px;
	background-color: black;
}
.nav{
	float:right;
	
	margin-right: 30px;
}

.form-group{
	
	float: left;
}
/*
	clearfix	
*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




body{
	background-color: black;
}

.container{
	width: 95%;
	margin: 0;
}

li.item{
	display: block;
	float:left;
	width: 40%;
	height: 400px;
	margin: 20px;
	padding: 10px;
	overflow: auto;
	background-color: rgba(200,200,200,0.5); 
	z-index: 10;
	
	
}




/*
	video fullscreen background
*/
.outlay{
	width:100%;
	height: 600px;
}

/*
	triangle
*/

.trianglify svg{
	z-index: -100;
	position: fixed;
	top: 0;
	left:0;
	opacity: 0.3;
}
.trianglify svg path{
	fill: transparent;
	z-index: -100;
}

/*
	triangle end
*/


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.modal {
	position: fixed;
	top:0;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,0.5);
	
}



.login_form{
	position: fixed;
	top: 100px;
	width: 400px;
	height: 250px;
	margin: 0 auto;
	left:0;
	right: 0;
	z-index: 100;
	padding: 30px;
	background-color: rgba(255,255,255,0.2);
}

.cart_content, .checkout_content,.more-details{

	position: fixed;
	top: 100px;
	width: 800px;
	height: 500px;
	margin: 0 auto;
	left:0;
	right: 0;
	z-index: 100;
	padding: 30px;
	background-color: rgba(255,255,255,0.8);
}



iframe{
	width:100%;
	height: 120%;
	z-index: -1000;
	position: absolute;
	top:-70px;
	right:0;
	left:0;
	margin:0;
}

/**/
.cover_ads{
	position:absolute;
	top: 650px;
	width: 100%;
	height: 100px;
	background-color: black;
	z-index: -1000;
}

.item span{
	font-size: 0.8em;
}
p.product-name{
	font-size: 2em;
	text-align: center;
}

.item button{
	float:right;
}
.item .img-container{
	width: 60%;
	height: 60%;
	margin:0 auto;
}
.item .simple-details{
	display: inline-block;
}

.more-details{
	background-color: rgba(255,255,255,0.8);
	margin: 50px;
}





