<section class="adminContainer">

		<h1>
			Add Product
		</h1>
		<div class="row">
			<div class="three columns">
				<form ng-submit="Ctrl.addProduct()">
					<input type="text" ng-model="Ctrl.name" placeholder="name">
					<textarea ng-model="Ctrl.description" placeholder="description"></textarea>
					<input type="text" ng-model="Ctrl.image" placeholder="image url">
					<input type="text" ng-model="Ctrl.price" placeholder="price">
					<input type="text" ng-model="Ctrl.category" placeholder="category">
					<input type="text" ng-model="Ctrl.quantity" placeholder="quantity">
					<select ng-model="Ctrl.status">
							<option value="" selected>Status</option>
							<option value="active">Active</option>
							<option value="inactive">Inactive</option>
					</select>
					<button>Add Product</button>
					
				</form>
				<a href = '#/admin'><button>Home</button></a>
			</div>
		</div></section>