<div class="cart">
	<div class="cart_content">
		<h1 ng-style="{'font-size':'6em','color':'white'}">Cart</h1>

			<div ng-repeat="product in Ctrl.cart">

				{{ product.name }}    {{product.amount}}   {{ product.price|currency }}  
			</div>
			<div>
				total: {{ Ctrl.total |currency}}<br>
				tax: {{ Ctrl.tax |currency}}<br>
				final total: {{ Ctrl.finalTotal |currency}}

			</div>
				
		<button class="toCheckout" ng-click="Ctrl.checkOut()">Checkout</button>
		<button ng-click="Ctrl.close()">close</button>
	</div>
</div>