<div class="cart">
	<div class="cart_content">
		<h1 ng-style="{'font-size':'6em','color':'white'}">Cart</h1>

			<div ng-repeat="product in Ctrl.cart">
				<div>	
					<strong>Item:</strong> {{ product.name }}   
					<strong>Price</strong>   {{ product.price|currency }}  
				</div>
				<div>
					<strong>Quantity:</strong>
					<button ng-click = "Ctrl.updateAmount('addition', product)">+</button>
					<input type="number" ng-model="product.amount">
					<button ng-click = "Ctrl.updateAmount('subtraction', product)"
							ng-disabled = "product.amount <= 0">-</button>
				</div>
			</div>	
			<div>
				total: {{ Ctrl.total | currency }}<br>
				tax: {{ Ctrl.tax | currency }}<br>
				final total: {{ Ctrl.final_total | currency }}
			</div>
				
		<button class="toCheckout" ng-click="Ctrl.checkOut()">Checkout</button>
		<button ng-click="Ctrl.close()">close</button>
	</div>
</div>