
<div class="trianglify"></div>

<!--trainglify-->
<header>
	<div class="nav-bar">
		<div class="icon"></div>
		<span class="sitetitle">For King And Country</span>
		<button ng-click="Ctrl.openLogin()" class="login nav">login</button>
		
		<button class="cart_button nav" ng-click="Ctrl.openCart()">cart</button>
		
		<form class="form-inline nav">
		    <div class="form-group">
		     	<input ng-model="Ctrl.search" 
		     		   type="text" 
		     		   class="form-control" 
		     		   id="search" 
		     		   placeholder="search">
		     	
		     	<select class="form-control" 
		     			ng-options = "item as item.label for item in Ctrl.categoryOptions" 
		     			ng-model = "Ctrl.categoryOption"></select>
		     			{{Ctrl.categoryOption.categoryFilter}}
		    </div>
		  </form>
	</div>
</header>

<div class="video-stuff">

	<iframe id="player" src="https://www.youtube.com/embed/wqM5cIK6mCw?version=3&autoplay=1&controls=0&autohide=1&loop=1&rel=0&showinfo=0&playlist=wqM5cIK6mCw&enablejsapi=1" frameborder="0" allowfullscreen='allowfullscreen'></iframe>
	<div class="cover_ads"></div>
</div>


<main class="product-container clearfix">
	<div class="products">
		<ul>
			<li class="item" ng-repeat="product in Ctrl.products
										| filter: {category:Ctrl.categoryOption.categoryFilter}
									    | filter: {name:Ctrl.search}"
							 ng-show = 'product.status == "active"'
							 >

				<p ng-click="Ctrl.showMoreDetails(product)">details</p>
				<p class="product-name">{{ product.name }}</p><br>
				<div class="img-container">
					<img ng-src="{{product.image}}" alt="product.name" class = "display_image" /><br>
				</div>
				
				<div class="simple-details">
					<span class="price">{{ product.price | currency}}</span>
					<br>
					<span class="category">catagory: {{ product.category}}</span>
					<span class="quantity">{{ product.quantity}} left!</span>
				</div>
				<button ng-click="Ctrl.addToCart(product)">Add To</button>
			</li>
		</ul>
	</div>
</main>

<
<footer>
	<h3>footer</h3>
	<div class="ref-container container row">
		<div class="references">
			
		</div>
		<div class="references">
			
		</div>
		<div class="references">
			
		</div>
	</div>
	
</footer>