
<div class="trianglify"></div>
<header>
	<div class="nav-bar">
		<div class="icon"></div>
		<div class='sitetitle'>
			<h2></h2>
		</div>
		<button ng-click="Ctrl.openLogin()" class="login nav">login</button>
		
		<button class="cart_button nav" ng-click="Ctrl.openCart()">cart</button>
		
		<form class="form-inline nav">
		    <div class="form-group">
		     	<input ng-model="Ctrl.search" 
		     		   type="text" 
		     		   class="form-control" 
		     		   id="search" 
		     		   placeholder="search">
		     	
		     	<select class="form-control" 
		     			ng-options = "item as item.label for item in Ctrl.categoryOptions" 
		     			ng-model = "Ctrl.categoryOption"></select>
		    </div>
		  </form>
	</div>
</header>



<iframe id="player" src="https://www.youtube.com/embed/wqM5cIK6mCw?version=3&autoplay=1&controls=0&autohide=1&loop=1&rel=0&showinfo=0&playlist=wqM5cIK6mCw&enablejsapi=1" frameborder="0" allowfullscreen='allowfullscreen'></iframe>
<div class="cover_ads"></div>

<div class='outlay'>
	
</div>	



<main class="product-container clearfix">
	<div class="products">
		<ul>
			<li class="item" ng-repeat="product in Ctrl.products.slice(Ctrl.curPage * Ctrl.productsPerPage,(Ctrl.curPage+1) * Ctrl.productsPerPage)
										| filter : {product.category:Ctrl.categoryOption.categoryFilter}
										| filter : Ctrl.search
										">
				<h1>{{ product.name }}</h1>
				<p>{{ product.description}}</p>
				<span>{{ product.price | currency}}</span>
				<span>{{ product.category}}</span>
				<span>{{ product.quantity}}</span>
				<button ng-click="Ctrl.addToCart(product)">Add To</button>
				
			</li>
		</ul>
	</div>
</main>

<!--previous and next buttons for pagination :: Chandu-->
<div class="pageination">
	<button 
	        ng-disabled = "Ctrl.curPage === 0"
	        ng-click="Ctrl.curPage = Ctrl.curPage - 1">
	        PREV    
	</button>
	<button 
	        ng-disabled = "Ctrl.curPage === Ctrl.getNumPages() - 1"
	        ng-click = "Ctrl.curPage = Ctrl.curPage + 1">
	      	NEXT
	</button>

	page {{Ctrl.curPage + 1}} of {{Ctrl.getNumPages()}}

</div>
<footer>
	<h3>footer</h3>
	<div class="ref-container container row">
		<div class="references">
			
		</div>
		<div class="references">
			
		</div>
		<div class="references">
			
		</div>
	</div>
	
</footer>